<div th:insert="fragments::htmlhead(~{::title})">
    <title>Users - Student Forum</title>
</div>
<div th:insert="fragments::header"></div>

<div class="container">
    <div class="row mt-1">
        <div class="col-3 p-1 border border-danger">
            <div th:insert="fragments::admin-sidebar"></div>
        </div>
        <div class="col-9 p-1 border border-success">
            <!-- View of all User list -->
            <table class="table table-striped table-hover mt-2 mx-3 w-75">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th class="text-center" colspan=3 scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="uList,iterator:${userList}" th:with="i=1">
                        <tr>
                            <th class="text-center" scope="row" th:text="${iterator.index+1}">1</th>
                            <td th:text="${uList.username}">Mark</td>
                            <td th:text="${uList.name}">Mark</td>
                            <td th:text="${uList.type}">Mark</td>
                            <div th:switch="${uList.status}">
                                <td th:case="1">Active</td>
                                <td th:case="2">Blocked</td>
                            </div>
                            <td class="text-center"><a class="text-success text-decoration-none p-0 px-2 overlay" data-bs-toggle="tooltip" data-bs-placement="top" title="View" th:href="@{'/user/'+${uList.username}}"><i class="far fa-eye"></i></a></td>
                            <td class="text-center"><a class="text-primary text-decoration-none p-0 px-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" th:href="@{'/admin/user/'+${uList.username}+'/edit'}"><i class="fas fa-user-edit"></i></a></td>
                            <td class="text-center"><a class="text-danger text-decoration-none p-0 px-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" th:href="@{'/admin/user/'+${uList.username}+'/delete'}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div th:insert="fragments::footer"></div>