/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&display=swap'); */


/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC:ital,wght@0,400;1,700&display=swap');
 :root {
    --colrA: #3B8BEB;
    --colrB: #B23850;
    --colrC: #E7E3D4;
    --colrD: #C4DBF6;
    --colrE: #8590AA;
    --colrF: #84eef1;
    --colrG: #E3E3E3;
}

body {
    background-color: var(--colrG);
}

.sf-header {
    height: 60px;
    border-bottom: 1px solid rgb(204, 204, 204);
    /* background-color: var(--colrF); */
}

.sf-title {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: black;
    font-size: 2.8vw;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav a:hover {
    background-color: #d1cfcf;
}

.sf-profile {
    position: relative;
}

.sf-profile:hover {
    cursor: pointer;
}

.sf-profile .sf-profile-menu {
    display: none;
    z-index: 200;
    top: 40px;
    position: absolute;
    background-color: rgb(247, 247, 247);
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.sf-profile-menu a {
    text-decoration: none;
    color: black;
}

.sf-profile-menu>div:hover {
    border-bottom: 1px solid rgb(175, 174, 174);
    cursor: pointer;
    /* transform: scale(1.05); */
}

.sf-notification {
    position: relative;
}

.sf-notification:hover {
    cursor: pointer;
}

.sf-notification #notification-sec {
    display: none;
    z-index: 200;
    top: 40px;
    position: absolute;
    background-color: rgb(247, 247, 247);
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}