.sidebar-box {
    max-height: 280px;
    position: relative;
    overflow: hidden;
}

.sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 10px 0;
    background-image: linear-gradient(to bottom, transparent, #f8f9fa);
}