<div th:insert="fragments::htmlhead(~{::title})">
    <title>Home - Student Forum</title>
</div>
<div th:insert="fragments::header">

</div>




<div class="border border-0 border-dark rounded">
    <a class="d-block text text-danger text-center h1 my-3 ms-3" th:href="@{/admin}">Admin</a>
    <a class="d-block text text-danger text-center h1 my-3 ms-3" th:href="@{/moderator}">Moderator</a>
    <a class="d-block text text-danger text-center h1 my-3 ms-3" th:href="@{/student}">Student</a>
    <a class="d-block text text-danger text-center h1 my-3 ms-3" th:href="@{/student}">Student</a>
    <a class="d-block text text-danger text-center h1 my-3 ms-3" th:href="@{/logout}">Logout</a>
</div>

<!-- <p th:text="${name}"></p> -->
<h4 th:text="${email}"></h4>
<h4 th:text="'Converting to UpperCase = '+${#strings.toUpperCase(email)}"></h4>
<h4 th:text="'Count Length = '+${#strings.length(email)}"></h4>
<h4 th:text="${date}"></h4>
<h1 th:text="${session.age}"></h1>
<img th:src="@{/image/fav/apple-touch-icon.png}" alt="HEllo">
<div th:if(session !=n ull)>
    Your are logged in
</div>



<div th:with="a=10, b=34, text = 'hello world'">
    <h1 th:text="${text}"></h1>
    <h2 th:text="${a}"></h2>
</div>

<div th:insert="fragments::footer"></div>