<div th:insert="fragments::htmlhead(~{::title})">
    <title>Home - Student Forum</title>
</div>

<div sec:authorize="!isAuthenticated()" th:insert="fragments::header"></div>
<div sec:authorize="isAuthenticated()" th:insert="fragments::headerAfterLogin"></div>




<div class="border border-0 border-dark rounded text-center">
    <a class=" text-danger text-center h3 my-3 ms-3" th:href="@{/admin}">Admin</a><br>
    <a class=" text-danger text-center h3 my-3 ms-3" th:href="@{/moderator}">Moderator</a><br>
    <a class=" text-danger text-center h3 my-3 ms-3" th:href="@{/student}">Student</a><br>
</div>

<div sec:authorize="isAuthenticated()">
    Your are logged in
    <a class=" text-danger text-center h3 my-3 ms-3" th:href="@{/logout}">Logout</a><br>
    <div class="" sec:authentication="name"></div>
    <div class="" sec:authentication="principal.authorities"></div>
    <div class="" th:if="${session.sessName}!=null" th:text="${session.sessName}"> </div>
</div>
<!-- <p th:text="${name}"></p> -->
<h4 th:text="${email}"></h4>
<h4 th:text="'Converting to UpperCase = '+${#strings.toUpperCase(email)}"></h4>
<h4 th:text="'Count Length = '+${#strings.length(email)}"></h4>
<h4 th:text="${date}"></h4>
<h1 th:text="${session.age}"></h1>
<img th:src="@{/image/fav/apple-touch-icon.png}" alt="HEllo">
<!-- <div class="" th:each=" : ${session.user.username}"></div> -->



<div th:with="a=10, b=34, text = 'hello world'">
    <h1 th:text="${text}"></h1>
    <h2 th:text="${a}"></h2>
</div>

<div th:insert="fragments::footer"></div>