<div th:insert="fragments::htmlhead(~{::title})">
    <title>Create Post - Student Forum</title>
</div>
<div th:insert="fragments::header"></div>

<div class="container">
    <div class="row mt-1">
        <!-- Create category section -->
        <div class="col-2"></div>
        <div class="col-8 p-1 px-3">
            <h1 class="text-center">Create post</h1>

            <form method="POST" th:object="${post}">
                <div class="form-group has-error">
                    <label for="category">Category</label>
                    <select class="form-select" aria-label="Default select example" th:classappend="${#fields.hasErrors('global')?'is-invalid':''}" name="category">
                        <option selected>--Select a Category--</option>
                        <div th:each=" cat: ${category}">
                            <option th:value="${cat.cname}" th:text="${cat.cname}">Category</option>
                        </div>
                    </select>
                    <div th:each="err : ${#fields.errors('global')}" th:text="${err}" class="invalid-feedback d-block ms-2"></div>
                </div>
                <div class="form-group">
                    <label for="title">Title </label>
                    <input type="text" class="form-control" name="title" th:classappend="${#fields.hasErrors('title')?'is-invalid':''}" placeholder="Your Title" th:value="*{title}" />
                    <div th:each="e:${#fields.errors('title')}" th:text="${e}" class="invalid-feedback d-block ms-2"></div>
                </div>
                <div class="form-group">
                    <label for="pbody">Description</label>
                    <div class="bg-white">
                        <textarea rows="5" class="form-control bg-white" name="pbody" th:classappend="${#fields.hasErrors('pbody')?'is-invalid':''}" id="pbody" placeholder="Type Your text Here" th:value="*{pbody}"></textarea>
                    </div>
                    <div th:each="e:${#fields.errors('pbody')}" th:text="${e}" class="invalid-feedback d-block ms-2"></div>
                </div>

                <div class="form-group my-2">
                    <button type="submit" class="btn btn-primary me-3">
                        Create
                    </button>
                    <a class="btn btn-outline-danger" th:href="@{/}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#pbody').summernote({
            placeholder: 'Write you post here..',
            height: 300, // set editor height
        });
    });
</script>

<div th:insert="fragments::footer"></div>
<div th:insert="fragments::footer-end"></div>