<div th:insert="fragments::htmlhead(~{::title})">
    <title>Single Post - Student Forum</title>
</div>

<div th:insert="fragments::header"></div>
<div th:insert="fragments::nav-category"></div>

<div class="container">

    <div class="posts mb-3" th:each="pDetail:${post}">
        <div class="row border rounded-3 mb-2 py-1 p-3 shadow bg-light">
            <div class="row g-0">
                <!-- Post info section -->
                <div class="col-12 col-lg-8 d-flex align-items-center ms-2 mb-1">
                    <div class="text-primary">
                        <a th:href="@{'/posts/'+${pDetail[1]}+'/page/1'}" th:text="${pDetail[1]}" class="text-decoration-none">category</a>
                    </div>
                    <div class="mx-1">|</div>
                    <div class="lh-sm text-muted align-self-center me-1" style="font-size: 12px">Posted By
                    </div>
                    <a th:href="@{'/user/'+${pDetail[0]}}" th:text="${pDetail[0]}" class="fs-6 text-success me-1 text-decoration-none">uname</a>
                    <div class="lh-sm text-danger align-self-end" th:text="'on '+${#calendars.format({pDetail[4]}, 'dd-MMM-yyyy hh:mm a')}" style="font-size: 12px">created_at</div>
                </div>
                <!-- Post header section  -->
                <div class="col-12 ps-2 border-top">
                    <div class="fs-4 fw-bold my-1" th:text="${pDetail[3]}">post title</div>
                </div>
                <div class="ms-3 pe-3 col-12 mb-2">
                    <div th:utext="${pDetail[2]}">Read</div>
                </div>
                <div class="col-6 d-flex align-items-center border-top py-2 mt-3 ">
                    <div class="bg-light rounded-3 d-flex px-2 py-2">
                        <span class="fas fa-arrow-alt-circle-up me-1"></span>
                        <span class="fas fa-arrow-alt-circle-down ms-1"></span>
                    </div>
                    <div class="mx-3"><i class="fas fa-comment-dots me-1"></i>
                        <span th:text="${pDetail[6]}">comments</span>
                    </div>
                    <div class="me-3"><i class="fas fa-eye me-1"></i>
                        <span th:text="${pDetail[5]}">post views</span>
                    </div>
                </div>
                <div class="col-6 justify-content-end d-flex align-items-center border-top py-2 mt-3 ">
                    <div class="mx-3"><i class="far fa-heart me-1"></i></i><a href="">Favourite</a></div>
                    <div class="me-3"><i class="fas fa-share me-1"></i><a href="">Share</a></div>
                    <div class="me-3"><i class="fas fa-ellipsis-h me-1"></i></div>
                </div>
            </div>
        </div>
    </div>

    <!-- comment section -->
    <div class="my-3">
        <div class="d-flex justify-content-center row">
            <div class="coment-bottom bg-light rounded shadow p-2 px-4">
                <h5 class="mt-2 mb-3">Leave a Reply</h5>
                <div sec:authorize="!isAuthenticated()">
                    <p class="ms-4">You must be <a th:href="@{/login}">logged in</a> to post a comment.</p>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="d-flex">
                        <div class="row w-100">
                            <div class="col-1">
                                <img class="rounded-circle m-1" src="https://img.icons8.com/bubbles/50/000000/writer-male.png" alt="user-image" width="50">
                            </div>
                            <div class="col-11">
                                <form th:action="@{/comment/create}" method='post' th:object="${comment}">
                                    <div class="d-flex flex">
                                        <div class="row w-100">
                                            <div class="col-9">
                                                <textarea rows="5" class="form-control bg-white" name="ctext" th:classappend="${#fields.hasErrors('ctext')?'is-invalid':''}" id="ctext" th:value="*{ctext}"></textarea>
                                                <input type="hidden" name="frPost" th:value="${post[0][7]}">
                                                <input type="hidden" name="frUser" th:value="${session.sessUsername}">
                                                <input type="hidden" name="returnLink" th:value="'/posts/'+${post[0][1]}+'/'+${post[0][7]}">
                                            </div>
                                            <div th:each="e:${#fields.errors('ctext')}" th:text="${e}" class="invalid-feedback d-block ms-2"></div>

                                            <div class="col-3">
                                                <button class="btn btn-primary my-2" type="submit">Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="text-muted mt-1 mb-3">
                <h5 class="mt-2 mb-3">Comments</h5>
                <div class="mt-2 ms-4 border border-muted rounded shadow-2 p-2" th:each="comment:${comments}">
                    <div class="d-flex flex-row align-items-center commented-user ">
                        <h5 class="me-2"><a th:href="@{'/user/'+${comment.frUser}}" th:text="${comment.frUser}" class="text-success text-decoration-none">user</a>
                        </h5>
                        <span class="mb-1 text-danger text fs-6" th:text="'on '+${#calendars.format({{comment.createdAt}}, 'dd-MMM-yyyy hh:mm a')}">created_at</span>
                    </div>
                    <div class="row">
                        <div class="col-1 text-end">
                            <i class="fas fa-2x fa-comment-dots"></i>
                        </div>
                        <div class="col-11">
                            <div class="" th:utext="${comment.ctext}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- comment section end -->


</div>

<script>
    $(document).ready(function() {
        $('#ctext').summernote({
            placeholder: 'Add comment...',
            height: 100, // set editor height
        });
    });
</script>


<div th:insert="fragments::footer"></div>
<div th:insert="fragments::footer-end"></div>