<div th:insert="fragments::htmlhead(~{::title})">
    <title>Registration - Student Forum</title>
</div>

<div class=" container rounded-3 bg-light mt-5 p-4 shadow " style="width: 500px ">

    <h3 class=" text-secondary text-center fw-bold mb-5 " style="padding-top:15px"><i class="fas fa-graduation-cap"></i> Student Registration</h3>

    <form th:action="@{/registration}" method="post" th:object="${user}">

        <!-- Full Name section -->
        <div class="mx-5 my-4 ">
            <label for="name" class="form-label fw-bold ">Full Name:</label>
            <div class="input-group ">
                <span class="input-group-text "> <i class="fas fa-at"></i></span>
                <input type="text " name="name" class="form-control rounded-end" th:classappend="${#fields.hasErrors('name')?'is-invalid':''}" id="name" placeholder="Enter Your Full Name" th:value="*{name}">
            </div>
            <div th:each="e:${#fields.errors('name')}" th:text="${e}" class="invalid-feedback d-block ms-2"></div>
        </div>
        <!-- user name section -->
        <div class="mx-5 my-4 ">
            <label for="userName" class="form-label fw-bold ">Username:</label>
            <div class="input-group ">
                <span class="input-group-text "> <i class="fas fa-user"></i></span>
                <input type="text " name="userName" class="form-control rounded-end" th:classappend="${#fields.hasErrors('userName')?'is-invalid':''}" id="userName" placeholder="Enter a Username " th:value="*{userName}">
            </div>
            <div th:each="e:${#fields.errors('userName')}" th:text="${e}" class="invalid-feedback d-block ms-2"></div>
        </div>

        <!-- Password section -->
        <div class="mx-5 my-4 ">
            <label for="password " class="form-label fw-bold ">Password:</label>
            <div class="input-group ">
                <span class="input-group-text "> <i class="fas fa-key "></i></span>
                <input type="password" name="password" class="form-control rounded-end" id="password" placeholder="Enter a Password ">
            </div>
            <div th:each="e:${#fields.errors('password')}" th:text="${e}" class="invalid-feedback d-block ms-2"></div>
        </div>
        <!-- Confirm Password section -->
        <div class="mx-5 my-4 ">
            <label for="confirmPassword" class="form-label fw-bold ">Confirm Password:</label>
            <div class="input-group ">
                <span class="input-group-text"> <i class="fas fa-key "></i></span>
                <input type="password" name="confirmPassword" class="form-control rounded-end" th:classappend="${#fields.hasErrors('confirmPassword')?'is-invalid':''}" id="confirmPassword" placeholder="Confirm Password ">
            </div>
            <div th:each="e:${#fields.errors('confirmPassword')}" th:text="${e}" class="invalid-feedback d-block ms-2"></div>
        </div>


        <!-- Registration -->
        <div class="d-flex justify-content-center my-2 ">
            <button type="submit " name="Submit" class="btn btn-lg btn-success px-sm-4 ">Register</button>
        </div>

        <div class="text-start mx-5 my-3 d-flex justify-content-center">
            <a class="link-info " href="/login">Already Registered?</a>
        </div>
    </form>

</div>


<div th:insert="fragments::footer"></div>